<div id="homepage">
  <p>Bored of having to specify two train stations when you travel? Want to know where you can get to from somewhere? Look no further!</p>

  <form id="search" class="form-horizontal" action="/search" method="post">
    <div class="control-group">
      <label for="station_name">Station Name</label>
      <div class="controls">
        <select id="stations" class="span5" type="text" name="station_name">
        <% Station.all.each do |station| %>
          <option><%= station.name %> (<%= station.abbr %>)</option>
        <% end %>
        </select>
      </div>
    </div>
    <br />
    <label for="departure_station">Departure Station?</label>
    <input type="checkbox" name="departure_station"></input>
    <br />
    <label for="arrival_station">Arrival Station?</label>
    <input type="checkbox" name="arrival_station"></input>
    <div class="control-group">
      <div class="controls">
        <input id='search_button' name='search' type='submit' value='Search'></input>
      </div>
    </div>
  </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<script>
  $(document).ready(function() {
    $('#stations').select2();
  });
</script>
