<html>
  <head>
    <title>Trainroutes</title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <link href="/assets/css/main.css" rel="stylesheet"/>
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
        <h1>Trainroutes</h1>
    </nav>

    <%= yield %>
  </body>
</html>
