<html>
  <head>
    <title>Trainroutes</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/css/main.css" rel="stylesheet"/>
  </head>

  <body>
    <div id="header">
      <h2>Trainroutes</h2>
    </div>
    <%= yield %>
  </body>
</html>
