<html>
  <head>
    <title>Trainroutes</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.min.css" rel="stylesheet"/>
    <link href="/assets/css/main.css" rel="stylesheet"/>
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
        <h1>Trainroutes</h1>
    </nav>

    <%= yield %>
  </body>
</html>
