<div id="results">
  <% if !@stopping_stations.empty? %>
    <p>You can travel via <%= @selected_station %> to the following destinations:</p>
    <ul>
      <% @stopping_stations.uniq.each do |station| %>
        <li><%= station %></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no trains at the moment <%= @direction == 'dep' ? 'from' : 'to' %> <%= @selected_station %>.
      Try again later, or <a href="/">search again</a>.</p>
  <% end %>
</div>
